@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
   @apply bg-slate-100  m-0 p-0 scroll-smooth scrollbar-thin scrollbar-thumb-rounded-lg  scrollbar-thumb-slate-300 scrollbar-track-slate-700 overflow-hidden;
   
}

.navBefore::before{
  
  content:"";
  @apply h-6 w-6 absolute bg-orange-400 top-[-0.7rem] md:left-[42%] rotate-45;
}

.btn_hover:hover{

  background-color: white;
  border: 2px solid;
  color: black;
  @apply border-orange-400
}
.btn_before::before{
  content: '';
  @apply w-full h-full bg-orange-400  block rounded-full
}
.swiper-pagination-bullet {
  background-color: rgb(118, 131, 143)  !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background-color: #FFA726 !important;
}
.carousel.carousel-slider{
  width: 10%;
  background-color: orangered;
}
.carousel.thumb{
  width: 10%;
  height: 50%;
}
.carousel{
  text-align: center;
}