@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
   @apply bg-slate-100 overflow-x-hidden;
}

.navBefore::before{
  
  content:"";
  @apply h-6 w-6 absolute bg-orange-400 top-[-0.7rem] md:left-[42%] rotate-45;
}

.btn_hover:hover{

  background-color: white;
  border: 2px solid;
  color: black;
  @apply border-orange-400
}
.btn_before::before{
  content: '';
  @apply w-full h-full bg-orange-400 block rounded-full 
}